@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #1c1b29;
  --secondary-color: #3157a0;
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: "poppins";
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  background: url(assets/background.svg) fixed center no-repeat;
  background-size: cover;
  background-color: #000;
  color: #222;
  font-family: var(--font-primary), var(--font-default);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  overflow: overlay;
}
.ads {
  margin: 2em auto;
  padding: 1em 0;
}
a {
  text-decoration: none;
  color: #333;
}
hr {
  margin: 1em 0;
  height: 1px;
  border: none;
  background-color: #ccc;
}
img {
  display: block;
  margin: 1em auto;
  -webkit-user-drag: none;
  border-radius: 5px;
  max-width: 100%;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
ul {
  color: #333;
  margin: 1em 0 1em 2.5em;
}
li {
  margin: 6px 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  outline: 0;
  margin: 0;
}
button {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 10px 14px;
}
.hidden {
  display: none;
}
p {
  margin: 15px 0;
  padding: 0;
  color: #3a3a3a;
  font-size: 15px;
  line-height: 2.3em;
}
header {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 99;
}
.site-header {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  height: auto;
  background: var(--secondary-color);
  max-width: 100%;
  -webkit-box-shadow: 2px 2px 20px 2px #0000002e;
  box-shadow: 2px 2px 20px 2px #0000002e;
}
a.logo {
  color: #fff;
  display: block;
  font-family: var(--font-default);
  font-size: calc(1vw + 14px);
  font-weight: 100;
  font-variant-caps: small-caps;
  letter-spacing: 4px;
  line-height: 60px;
  flex: 1;
}
main {
  background: #eff8ff;
  border: 1px solid #ccc;
  max-width: 80%;
  width: 100%;
  margin: auto;
  margin-top: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #404040;
  font-weight: 500;
  margin: 10px 0;
}
h1 {
  font-size: calc(1vw + 20px);
  color: #222;
}
h2 {
  font-size: calc(0.8vw + 25px);
  font-weight: 700;
  font-variant-caps: all-small-caps;
  color: #444;
}
h3 {
  letter-spacing: 1px;
  font-variant-caps: all-small-caps;
  font-size: calc(0.8vw + 20px);
  font-weight: 500;
}
.site-container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.fontslist,
.recentlist {
  color: #3a3a3a;
  padding: 0.5em 5px;
  text-align: left;
}
.recentlist .font {
  -webkit-animation: recentfontanimate 0.4s ease-in-out;
  animation: recentfontanimate 0.4s ease-in-out;
}
.fonts {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-animation: fontanimate 0.5s ease-in-out;
  animation: fontanimate 0.5s ease-in-out;
}
.font {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  margin: 5px;
  font-size: 20px;
  -webkit-box-shadow: rgb(0 0 0 / 8%) 0 3px 6px;
  box-shadow: rgb(0 0 0 / 8%) 0 3px 6px;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.font::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--secondary-color);
  width: 0;
  bottom: 0;
  -webkit-transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.font:hover::after {
  width: 100%;
}
.font::before {
  content: attr(data-label);
  display: block;
  color: #959fb1;
  font-weight: 600;
  position: absolute;
  padding: 0 5px;
  letter-spacing: 1px;
  left: 5px;
  bottom: 4px;
  font-size: 12px;
  font-variant-caps: all-small-caps;
}
.font div {
  font-family: var(--font-default);
  width: 100%;
  padding: 20px 12px;
}
.font:hover div {
  color: var(--secondary-color);
}
.font .round_squares {
  font-family: emoji;
}
#scrollTop::before {
  content: "\25B3";
}
#scrollTop {
  position: fixed;
  bottom: 15%;
  right: -100px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 11px;
  color: #fff;
  background: #444;
  border-radius: 7px;
  -webkit-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
#input-text {
  color: #333;
  height: 100px;
  resize: none;
  border: none;
  width: 100%;
  padding: 37px 10px;
  font-size: 20px;
  text-align: center;
  overflow: unset;
  font-family: monospace, var(--font-default);
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
  border-radius: 20px;
  background: #ebf1fa;
}
.input-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px 0 #00000017;
  box-shadow: 0 5px 10px 0 #00000017;
}
.input-area .clear {
  position: absolute;
  width: 60px;
  right: 0;
  bottom: 0;
  top: 0;
  color: #de0707;
  background: 0 0;
  cursor: pointer;
  -webkit-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.input-area .clear:hover {
  color: #000;
}
.page-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  max-width: 100%;
}
.settings {
  float: right;
}
#fontSize {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #d4d4d4;
  height: 5px;
  width: 150px;
}
#fontSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#fontSize::-webkit-slider-thumb:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#fontSize::-moz-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.label-text {
  font-family: inherit;
  font-variant-caps: all-small-caps;
  font-size: 16px;
  color: #111;
  opacity: 0.4;
}
.share {
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 30%;
  margin: 0;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
.share a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 2px;
  border-radius: 3px;
  padding: 5px 0;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: none;
}
.share a svg {
  fill: #fff;
  stroke: none;
  margin: 0;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
.share a.whatsapp {
  background-color: #25d366;
}
.share a.facebook {
  background-color: #3b5998;
}
.share a.twitter {
  background-color: #55acee;
}
.share a.telegram {
  background-color: #08c;
}
.share a.email {
  background-color: #5a5a5a;
}
.share a.copy {
  background-color: #4b4b4b;
}
.share a:hover {
  color: #fff;
  opacity: 0.9;
}
.copied {
  position: absolute;
  top: 20px;
  right: 10px;
  background: #fff;
  border: 1px solid #3e5b9b1f;
  color: #444;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 50px;
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  -webkit-transition: margin-right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: margin-right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: margin-right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.site-links {
  text-align: center;
  margin: 2em 0;
}
.site-links a {
  display: inline-block;
  margin: 5px;
  background: var(--secondary-color);
  border-radius: 7px;
  color: #fff;
  padding: 13px 20px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  -webkit-transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) ease-in-out;
  -o-transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) ease-in-out;
  transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) ease-in-out;
}
.site-links a:hover {
  opacity: 0.9;
}
.site-links a:active {
  -webkit-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}
.text-content {
  background: #222222f6;
  color: #fff;
  padding: 1em;
}
.text-content a::before {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--secondary-color);
  width: 0;
  bottom: -2px;
  -webkit-transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.text-content a:hover::before {
  width: 100%;
}
.text-content a {
  position: relative;
  color: var(--secondary-color);
  font-weight: 700;
  border-bottom: 1px solid #d0d0d0;
}
.text-content a:hover {
  opacity: 1;
  border-color: var(--secondary-color);
}
.text-content > * {
  color: #fff;
}

a.link::before {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--secondary-color);
  width: 0;
  bottom: -2px;
  -webkit-transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
a.link:hover::before {
  width: 100%;
}
a.link {
  position: relative;
  color: var(--secondary-color);
  font-weight: 700;
  border-bottom: 1px solid #d0d0d0;
}
a.link:hover {
  opacity: 1;
  border-color: var(--secondary-color);
}

footer {
  max-width: 80%;
  margin: auto;
  border-bottom: 2px solid #1b459a;
}
footer a {
  color: #fff;
  opacity: 1;
  margin: 5px;
  letter-spacing: 1px;
  -webkit-transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
footer a:hover {
  opacity: 0.7;
}
.copyright {
  text-align: center;
  background: #000;
  padding: 1em;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 3em;
  text-transform: uppercase;
}
.loadmore,
.pagebtn {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 2em auto;
  background: #000;
  border-radius: 4px;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0 0 #00000042;
  box-shadow: 5px 5px 0 0 #00000042;
  padding: 15px 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  -webkit-transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) ease-in-out;
  -o-transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) ease-in-out;
  transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1) ease-in-out;
}
.loadmore:hover,
.pagebtn:hover {
  background: var(--secondary-color);
  -webkit-box-shadow: 5px 5px 0 0 #00000042;
  box-shadow: 5px 5px 0 0 #00000042;
}
.loadmore:active,
.pagebtn:active {
  -webkit-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fonts.random .font {
  -webkit-animation: recentfontanimate 0.3s ease-in-out;
  animation: recentfontanimate 0.3s ease-in-out;
}
@-webkit-keyframes fontanimate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@keyframes fontanimate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes recentfontanimate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes recentfontanimate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (max-width: 900px) {
  footer,
  main {
    margin: 0 auto;
    max-width: 100%;
  }
  footer {
    margin-bottom: 10em;
  }
  .sidenav {
    padding-top: 3em;
  }
  .site-header {
    height: 50px;
  }
  .toggle-nav {
    margin: 5px;
    font-size: 20px;
    position: unset;
  }
  .input-area {
    position: fixed;
    bottom: 0;
    top: unset;
    -webkit-box-shadow: 0 -5px 10px 0 #00000017;
    box-shadow: 0 -5px 10px 0 #00000017;
  }
  #input-text {
    font-size: 15px;
    height: 85px;
    padding: 33px 10px;
  }
  .fonts {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .font {
    margin: 7px 0;
    width: 100%;
  }
  .share {
    width: 100%;
    padding: 10px ​0;
  }
}
