@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Poppins:wght@200;300;400;500;800;900");
:root {
  --primary-color: linear-gradient(to right, #204fae, #4b6cb7);
  --font-primary: "poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: #1473cc;
}
body {
  background: #f5f6fa;
  font-family: var(--font-primary);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  color: #222;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  color: #777777;
}

hr {
  margin: 1em 0;
  height: 1px;
  border: none;
  background-color: #ccc;
}
img {
  display: block;
  margin: 1em auto;
  -webkit-user-drag: none;
  border-radius: 5px;
  max-width: 100%;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
ul {
  margin: 1em 0 1em 2.5em;
}
li {
  margin: 6px 0;
}
button {
  border: none;
  user-select: none;
  cursor: pointer;
  font-family: var(--font-primary);
  outline: 0;
  padding: 10px 14px;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.clearfix {
  clear: both;
}
p {
  font-size: 0.9em;
  text-align: left;
  color: #333;
  margin: 1em 0;
  line-height: 2.3em;
}
p a {
  text-decoration: none;
  color: #777777;
  border-bottom: 2px dashed #ccc;
}

p a:hover {
  border-bottom-color: #555;
}
.arya-container {
  max-width: 70%;
  margin: 5px auto;
  text-align: center;
}
.header {
  z-index: 999;
}
.aryafontslist,
.aryafontsrecentlist {
  color: #404a58;
  padding: 0 5px;
  text-align: left;
  font-size: 22px;
}
.aryafonts {
  overflow: hidden;
  position: relative;
  background: #fff;
  margin: 0;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  padding: 20px 12px;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px #ddd;
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.aryafonts:hover {
  border-color: #dadada;
  transform: scale(1.01);
  background: #beccec0a;
}
.aryafonts p {
  margin: unset;
}

.aryafonts span {
  color: #959fb1;
  font-weight: 900;
  position: absolute;
  padding: 0 5px;
  letter-spacing: 1px;
  left: 5px;
  bottom: 2px;
  font-size: 14px;
  font-variant-caps: all-small-caps;
  display: block;
}
.aryafonts p {
  font-family: Arial, sans-serif;
  width: 100%;
  display: inline-block;
}
.aryafonts:hover p {
  color: #3e5b9b;
}
.aryafonts button {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 50px;
  color: #496dbd;
  position: absolute;
  padding: 1px 10px;
  top: 26px;
  right: 10px;
}
.copyright-area {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: #222;
  color: #ffffff9c;
}
.copyright-area a {
  color: #aaa;
}
.copyright-area a:hover {
  color: #ddd;
}
.randomgen {
  background: #fff;
  display: none;
  padding: 5px 15px;
  bottom: 13%;
  right: 0;
  position: fixed;
  font-variant-caps: all-small-caps;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 50px 0 0 50px;
  color: #3e5b9b;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.23, 1, 0.32, 1);
}
.randomgen:hover {
  background: #496dbd;
  color: #fff;
}
#scroll {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: 0;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 4px 11px;
  color: #fff;
  background: #444;
  box-shadow: -6px 0 4px 0 rgb(125 125 125 / 32%);
  border-radius: 13px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #319197;
}
p.copied {
  position: fixed;
  width: 250px;
  right: 0;
  top: 50%;
  background: #3e5b9b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px 0 0 3px;
  z-index: 99999;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 32%);
}
p.copied span {
  float: left;
  width: 100%;
  font-variant-caps: all-small-caps;
  text-align: center;
  letter-spacing: 2px;
}
p.copied .text {
  background: 0 0;
  color: #fff;
  border: none;
  width: 100%;
  pointer-events: none;
}
.aload {
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}
.aload span {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.aload span:nth-child(1),
.aload span:nth-child(2) {
  left: 0;
}
.aload span:nth-child(3) {
  left: 1.5em;
}
.aload span:nth-child(4) {
  left: 3em;
}
@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}
.aload span:nth-child(1) {
  animation-name: reveal;
}
.aload span:nth-child(2),
.aload span:nth-child(3) {
  animation-name: slide;
}
.aload span:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
#load-more {
  font-size: 20px;
  padding: 12px 35px;
  border: 2px solid #3e5b9b;
  color: #3e5b9b;
  margin: 10px 0 5px 0;
  cursor: pointer;
  background: #fff;
  text-align: center;
  width: 80%;
  outline: 0;
  border-radius: 3px;
}
#load-more:hover {
  background: #3e5b9b;
  color: #fff;
}
.infinite-scroll-last {
  font-size: 20px;
  margin: 2px 0;
  padding: 2px 0;
}
.page-load-status {
  text-align: center;
  color: #777;
  width: 100%;
  margin: 1em auto;
}
.blog-feeds,
p.aryapage {
  display: none;
}
header {
  max-width: 100%;
  text-align: center;
  padding-top: 60px;
  overflow: hidden;
  z-index: 99;
}
.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  font-family: var(--font-primary);
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  height: auto;
  background: var(--primary-color);
  max-width: 100%;
  box-shadow: 2px 2px 20px 2px #0000002e;
}
.logo {
  display: block;
  font-family: Caveat, var(--font-primary);
  font-size: calc(1vw + 25px);
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 60px;
  flex: 1;
  color: #fff;
  border: none;
}
main {
  max-width: 100%;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  text-align: center;
  color: #404040;
  font-weight: 500;
  margin: 10px 0;
}
h1 {
  font-size: calc(0.6vw + 1.4em);
}
h2 {
  text-transform: uppercase;
  font-size: calc(0.6vw + 1.2em);
  font-weight: 500;
  color: #333;
}
h3 {
  letter-spacing: 1px;
  font-variant-caps: all-petite-caps;
  font-size: calc(0.8vw + 7px);
  font-weight: 300;
}
#thenitesharya-text {
  color: #333;
  resize: none;
  min-height: 100px;
  height: 100px;
  border: none;
  outline: 0;
  width: 100%;
  line-height: 79px;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 10px 20px 0 #00000017;
}
.thenitesharya-text {
  z-index: 99;
}
.thenitesharya-text-fixed {
  position: fixed;
  border: none;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
}
.thenitesharya-text .clear {
  position: absolute;
  right: 0;
  color: #de0707;
  font-size: 20px;
  background: 0 0;
  line-height: 79px;
  border: none;
  z-index: 99;
  cursor: pointer;
  outline: 0;
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.thenitesharya-text .clear:hover {
  color: #000;
}
.input-box {
  position: relative;
  margin: auto;
}
.page-setting {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
  margin: 15px auto;
  max-width: 100%;
}
.settings {
  float: right;
}
.share-link {
  display: block;
  text-align: center;
  font-size: calc(0.5vw + 10px);
  width: 100%;
  margin: 20px 0 0 0;
  cursor: pointer;
}
.share-link span {
  color: #777;
  font-family: arial, sans-serif;
}
#share-link {
  color: #444;
  cursor: pointer;
}
#fontSize {
  position: relative;
  -webkit-appearance: none;
  outline: 0;
  appearance: none;
  border-radius: 50px;
  background: #0000002e;
  height: 5px;
  width: 150px;
}
#fontSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1565c0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#fontSize::-webkit-slider-thumb:active {
  transform: scale(1.2);
}
#fontSize::-moz-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.label-text {
  font-family: var(--font-primary);
  font-variant-caps: all-small-caps;
  color: #111;
  opacity: 0.4;
}
.other-platform {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.other-platform img {
  margin: 0;
}
.other-platform > a {
  border: none;
}
footer {
  background: #fff;
  padding-top: 1em;
  margin-bottom: 6em;
}
footer p {
  font-size: 1em;
  margin: 1em 0;
  line-height: 2;
  text-align: left;
  color: #555;
}
footer a {
  border-bottom: 1px solid #333;
  color: #6b6b6b;
  transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
footer a:hover {
  border: none;
  color: #111;
}
.loadmore {
  text-align: center;
}
.toggle-nav {
  font-size: 25px;
  cursor: pointer;
  padding: 5px 11px;
  top: 5px;
  left: 9em;
  position: absolute;
  padding: 4px 13px;
  user-select: none;
  margin: 0;
  z-index: 1000;
  border-radius: 50%;
  transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.toggle-nav:hover {
  transform: scale(1.1);
}
.toggle-nav-open {
  background: #1b459a;
}
.sidenav {
  height: 100%;
  width: 211px;
  margin-left: -250px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #2654af;
  overflow-x: hidden;
  box-shadow: 2px 2px 20px 0 #00000061;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidenav .bookmarks a::before {
  content: "\00276F  ";
}
.sidenav .bookmarks a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  display: block;
  transition: 0.1s;
}
.sidenav .bookmarks a:hover {
  background: #f1f1f1;
  color: #111;
}
.nav-logo {
  line-height: 0;
  padding: 2em 15px;
  font-size: 20px;
  background: 0 0;
  margin: auto;
}
.nav-logo:hover {
  color: #ccc;
}
.nav-open {
  margin-left: 0;
}
.body-fixed {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.ads {
  display: table !important;
  margin: 12px 0 !important;
  float: left;
  clear: both;
  width: 100% !important;
}
.site-links {
  margin: 1em 0;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .arya-container {
    max-width: 100%;
  }
  .thenitesharya-text {
    width: 100%;
    position: fixed;
    bottom: -10px;
    left: unset;
    top: unset;
    right: unset;
  }
  .clear {
    line-height: 70px !important;
  }
  .sidenav {
    padding-top: 3em;
  }
  .site-header {
    height: 50px;
  }
  .toggle-nav {
    margin: 5px;
    font-size: 20px;
    position: unset;
  }
  #thenitesharya-text {
    min-height: 85px;
    height: 85px;
    line-height: 64px;
    box-shadow: 0 -5px 10px 0 #0000001a;
  }
}
.resp-sharing-button__icon,
.resp-sharing-button__link {
  display: inline-block;
}
.resp-sharing-button__link {
  line-height: normal;
  text-decoration: none;
  color: #fff;
}
.resp-sharing-button {
  transition: 25ms ease-out;
  padding: 0.3em 0.8em;
  font-family: var(--font-primary);
  border-radius: 5px;
}
.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}
.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
}
.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}
.resp-sharing-button--pinterest {
  background-color: #bd081c;
}
.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
}
.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}
.resp-sharing-button--tumblr {
  background-color: #35465c;
}
.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}
.resp-sharing-button--reddit {
  background-color: #5f99cf;
}
.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}
.resp-sharing-button--google {
  background-color: #dd4b39;
}
.resp-sharing-button--google:hover {
  background-color: #c23321;
}
.resp-sharing-button--linkedin {
  background-color: #0077b5;
}
.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}
.resp-sharing-button--email {
  background-color: #777;
}
.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}
.resp-sharing-button--xing {
  background-color: #1a7576;
}
.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}
.resp-sharing-button--whatsapp {
  background-color: #25d366;
}
.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}
.resp-sharing-button--hackernews {
  background-color: #f60;
}
.resp-sharing-button--hackernews:focus,
.resp-sharing-button--hackernews:hover {
  background-color: #fb6200;
}
.resp-sharing-button--vk {
  background-color: #507299;
}
.resp-sharing-button--vk:hover {
  background-color: #43648c;
}
.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
.resp-sharing-button--facebook:active,
.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
  border-color: #2d4373;
}
.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}
.resp-sharing-button--twitter:active,
.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
  border-color: #2795e9;
}
.resp-sharing-button--email {
  background-color: #777;
  border-color: #777;
}
.resp-sharing-button--email:active,
.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
.resp-sharing-button--whatsapp {
  background-color: #25d366;
  border-color: #25d366;
}
.resp-sharing-button--whatsapp:active,
.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
  border-color: #1da851;
}
.resp-sharing-button--telegram {
  background-color: #54a9eb;
}
.resp-sharing-button--telegram:hover {
  background-color: #4b97d1;
}
.copied {
  display: none;
}
